name: Docker Publish

# 触发条件：当你推送到 master 分支，或者打 v 开头的标签时触发
on:
  push:
    branches: [ "master", "main" ]
    tags: [ 'v*' ]
  # 允许你手动点击按钮触发构建（方便测试）
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/autoremove-torrents:latest
            ${{ secrets.DOCKER_USERNAME }}/autoremove-torrents:custom
